<!doctype html>
<html lang="en">
  <head>
    <title>Eat-Da-Burger</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/burgers.js"></script>
    

  </head>
  <body>
      
      {{{body}}}
    
  </body>
</html>