
  #header {
    width: 100%;
    background-color: red;
  }
  .acontainer {
    width: 100%;
    margin: auto;
  }
  #first {
    width: 45%;
    float: left;
    height: 300px;
    background-color: blue;
    margin: 10px 10px;
  }
  #second {
    width: 45%;
    float: left;
    height: 300px;
    background-color: green;
    margin: 10px 10px;
  }
  #clear {
    clear: both;
  }
  #map {
    height: 500px;
  }